.Notes_grid {
  top: 00px;
  margin-top: 00px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-left: 60px;
  gap: 10px;

  height: 100%;
}

.Note {
  padding: 10px;
  margin-top: 20px;
  background-color: coral;
  width: 500px;
  height: 400px;
  border-radius: 20px;
}
.note_Text {
  color: white;
  font-size: 30px;
  overflow: hidden;
  overflow-wrap: break-word;
  padding-left: 10px;
}
.delete_icon {
  position: absolute;
  top: 520px;
  font-size: 30px;
  color: white;
}
.edit_icon {
  position: absolute;
  top: 520px;
  font-size: 30px;
  color: white;
  margin-left: 450px;
}
