.Placeholder {
  animation: fadeIn 1s;
    margin-left: 500px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 50%;
    
    border: none;
    border-radius: 9px;
    transition: all 0.5s ease;
    background: #1d1b31;
    text-indent: 10px; 
    margin-top: 20px;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .show_input{
    animation: fadeIn 1s;
   font-size: 80px;
  }

  @media (min-width: 320px) and (max-width: 999px) {
    .Placeholder {
        margin-left: 65px;width: 70%;
         }
  }